/* NAVIGATION
----------------------------------------------------------*/
div.box ul {
	background-color: #0f0;
}

ul.menu li a {
    color: #000;
}

ul.menu li.selected a {
    color: #1445ba;
}

/* FORM LAYOUT ELEMENTS
----------------------------------------------------------*/
.button {
	color: #000;
	background-color: #0f0;
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 10px #7fff7f;
}

/* PORTFOLIO
----------------------------------------------------------*/
.portfolio-box {
    color: #000;
}

/* QUICKSAND
----------------------------------------------------------*/
#filter a {
	color: #000;
}

#filter a.active {
	box-shadow: 0 0 30px #7fff7f;
}

#container li {
	-moz-box-shadow: 0 0 8px #0f0;
	-webkit-box-shadow: 0 0 8px #0f0;
	box-shadow: 0 0 8px #0f0;
}