<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>About Me</title>
	
	<!-- Combine CSS before pushing to production -->
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css"> <!-- Regular stylesheet -->
	<link rel="stylesheet" type="text/css" href="../assets/css/color/blue.css" id="colorSheet"> <!-- Pick color scheme: black.css, blue.css, green.css, magenta.css, orange.css, pink.css, red.css, white.css, yellow.css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/colorbox.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
	<!--[if IE 7]>
	<link rel="stylesheet" href="../assets/css/font-awesome-ie7.min.css">
	<![endif]-->
	
	<!-- Combine JavaScript before pushing to production -->
	<script type="text/javascript" src="../assets/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.color-2.1.2.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.colorbox-min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.avgrund.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../assets/js/script.js"></script>
</head>

<body>
	<div id="color-pallet">
		<div id="black"></div>
		<div id="blue"></div>
		<div id="green"></div>
		<br />
		<div id="magenta"></div>
		<div id="orange"></div>
		<div id="pink"></div>
		<br />
		<div id="red"></div>
		<div id="white"></div>
		<div id="yellow"></div>
	</div>
	<div id="color-switcher" class="icon-cogs icon-dark icon-2x"></div>

	<div class="title">
		<div class="heading">Lorem Ipsum</div>
		<div class="subheading">[Radix Omnium Malorum Est Cupiditas]</div>
		
		<div class="box">
			<ul class="menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="resume.html">Résumé</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="main">
		<h2>About Me</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin et bibendum urna. Vestibulum vel adipiscing enim. In lacus ipsum, condimentum in fermentum porttitor, posuere quis felis. Curabitur tristique justo quis urna vehicula fermentum. Nulla vitae pellentesque nisl. Donec varius massa a nunc bibendum at rhoncus nibh ullamcorper. Vestibulum cursus felis sed arcu iaculis aliquam. Aenean placerat condimentum massa ac tempus. Nullam purus felis, gravida a vulputate ut, feugiat eget dolor. Morbi eleifend, metus id venenatis ornare, lorem ligula sodales dui, sed feugiat nulla mi vitae diam. Pellentesque consequat mauris sed massa porta fringilla. Vivamus suscipit ornare nisl id vulputate. Fusce quis ligula odio, semper rutrum nisi. In suscipit ligula odio. Sed eu tristique ligula. Suspendisse dolor purus, accumsan sed feugiat at, porttitor ac felis.</p>
		<p>Nam convallis purus eu dolor pulvinar a placerat lectus tincidunt. Vivamus est sapien, consectetur sit amet dignissim at, congue sit amet quam. Aenean felis quam, pharetra eu ullamcorper at, feugiat nec neque. Suspendisse orci lorem, volutpat eget tempus a, placerat eget mi. Suspendisse suscipit vulputate eros consectetur dapibus. Curabitur ultrices tristique dapibus. Phasellus sed lorem arcu. Nullam venenatis erat sed enim sodales non malesuada magna ornare. Fusce lacinia, tortor a adipiscing pulvinar, odio massa porttitor mauris, sed tempor libero ipsum eu orci. Aenean semper diam sed nisi bibendum vitae ultrices lectus elementum. Vestibulum adipiscing rhoncus sapien id tristique. Cras posuere accumsan egestas. Phasellus magna quam, vehicula ut semper id, gravida sit amet lectus. Donec ultrices metus et ante auctor ac bibendum orci tristique. Sed fringilla lorem vel metus feugiat tempor. Pellentesque sit amet urna id metus sollicitudin vulputate.</p>
		<div class="icon-picture icon-5x picture"></div>
		<p>Praesent risus eros, ultricies sed egestas eu, scelerisque vel eros. Cras a est dolor. Integer arcu felis, vehicula vitae pretium non, commodo ac dui. In sit amet nisl neque, non tincidunt libero. Suspendisse accumsan, erat quis fermentum iaculis, turpis enim aliquam sapien, ut vulputate purus mauris eget dolor. Aliquam vel justo et diam ornare bibendum quis aliquam lectus. Suspendisse ac arcu turpis, ut sollicitudin urna. Praesent lobortis nulla a diam blandit varius. Fusce non sapien elit, sed posuere risus. Nullam sit amet tortor erat. Integer lacinia, mi vitae facilisis imperdiet, urna purus tempus sapien, sit amet porta nibh magna sit amet sem. Sed vitae leo leo. Integer sed velit id mi vestibulum euismod. Duis ullamcorper fringilla elit, mattis placerat mauris posuere eget. Phasellus sagittis dictum turpis, eget commodo purus pharetra eu. Ut sit amet orci vitae massa euismod commodo.</p>
		<p>Ut congue dignissim libero, non aliquet purus viverra ac. Cras pulvinar hendrerit odio, non bibendum magna accumsan quis. Phasellus eleifend faucibus felis, eget interdum nisl facilisis at. Sed mattis mi vitae sapien mattis accumsan. Fusce augue nisl, vestibulum laoreet sollicitudin vitae, tempor ut ligula. Fusce lacinia commodo ligula non viverra. Praesent malesuada sagittis tellus, at pharetra nunc tincidunt vel. Cras in erat sit amet ipsum interdum varius et commodo eros. Duis auctor ligula nec neque rhoncus elementum. Morbi vitae turpis sollicitudin est luctus tincidunt. Nulla pellentesque feugiat vestibulum. Curabitur dui magna, suscipit sed gravida at, volutpat a sapien. Proin fermentum elit nec ante facilisis sodales. Vestibulum molestie diam ut nibh venenatis sit amet hendrerit arcu ornare. Donec ac ultrices ipsum.</p>
		<!--<p>Aliquam laoreet cursus porttitor. Vivamus orci risus, venenatis a bibendum id, lacinia sed orci. Vestibulum quis tincidunt libero. Morbi varius pharetra sapien eget cursus. Maecenas eu metus vitae lacus consequat hendrerit. Nam id enim eget mauris rutrum aliquam eu ac diam. Donec rhoncus sodales felis. Pellentesque imperdiet est lorem, ut vulputate diam. Quisque velit arcu, vulputate eu bibendum at, posuere non nisl. In justo quam, eleifend ut porta id, sollicitudin nec mauris. Nullam vitae nisl sem, nec scelerisque nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec adipiscing risus tempus nunc pulvinar fermentum. Nullam laoreet dignissim congue. Etiam quis ullamcorper lacus. Ut luctus pharetra tincidunt.</p>-->
		<!--<p>Nulla facilisi. Curabitur non adipiscing turpis. Nunc dictum, est non malesuada consectetur, enim lorem ultrices metus, nec fringilla libero turpis a quam. Praesent semper neque vitae lorem dapibus quis malesuada tortor elementum. Quisque scelerisque velit ut elit posuere venenatis fringilla mauris eleifend. Praesent porta venenatis tellus eget bibendum. Morbi ullamcorper, mauris tincidunt ullamcorper cursus, sapien lacus dignissim elit, nec tincidunt odio lectus non massa. Pellentesque mollis faucibus metus, sed varius orci pharetra quis. Sed vehicula, arcu non porttitor condimentum, lorem velit molestie eros, ac rhoncus odio lorem et enim.</p>-->
	</div>
</body>
</html>