<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Contact Me</title>
	
	<!-- Combine CSS before pushing to production -->
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css"> <!-- Regular stylesheet -->
	<link rel="stylesheet" type="text/css" href="../assets/css/color/blue.css" id="colorSheet"> <!-- Pick color scheme: black.css, blue.css, green.css, magenta.css, orange.css, pink.css, red.css, white.css, yellow.css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/colorbox.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
	<!--[if IE 7]>
	<link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
	<![endif]-->
	
	<!-- Combine JavaScript before pushing to production -->
	<script type="text/javascript" src="../assets/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.color-2.1.2.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.colorbox-min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../assets/js/script.js"></script>
</head>

<body>
	<div id="color-pallet">
		<div id="black"></div>
		<div id="blue"></div>
		<div id="green"></div>
		<br />
		<div id="magenta"></div>
		<div id="orange"></div>
		<div id="pink"></div>
		<br />
		<div id="red"></div>
		<div id="white"></div>
		<div id="yellow"></div>
	</div>
	<div id="color-switcher" class="icon-cogs icon-dark icon-2x"></div>
	
	<div class="title">
		<div class="heading">Lorem Ipsum</div>
		<div class="subheading">[Radix Omnium Malorum Est Cupiditas]</div>
		
		<div class="box">
			<ul class="menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="resume.html">Résumé</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>
	
	<div class="main">
		<h2>Contact Me</h2>
		<p>Proin metus purus, consectetur et sagittis et, egestas sit amet augue. Donec imperdiet scelerisque quam, ut blandit ante porttitor eu. Nullam eleifend molestie ipsum nec tincidunt. Duis placerat auctor velit, eget porta libero dictum eu. Integer ultricies mauris felis. Etiam sed libero non odio consequat tempor. Praesent nulla justo, accumsan vel ultrices et, tincidunt ultrices dui.</p>
		
		<br />
		
		<div class="form required">
			<label for="name">Your Name</label><br />
			<input type="text" id="name" />
			<span>Your name is required...</span>
		</div>
		
		<div class="form required">
			<label for="email">Your Email</label><br />
			<input type="text" id="email" />
			<span>Your email is required...</span>
		</div>
		
		<div class="form">
			<label for="url">Your URL</label><br />
			<input type="text" id="url" />
		</div>
		
		<div class="form required">
			<label for="subject">Subject</label><br />
			<input type="text" id="subject" />
			<span>A subject is required...</span>
		</div>

		<div class="form required">
			<label for="message">Message</label><br />
			<textarea id="message"></textarea>
			<span>A message is required...</span>
		</div>

		<br />
		
		<div id="submitContactForm" class="button">Send</div>
		
		<div id="icons-right" class="icon-1x">
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base icon-dark"></i>
				<i class="icon-facebook icon-light"></i>
			</span>
			
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base icon-dark"></i>
				<i class="icon-twitter icon-light"></i>
			</span>
			
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base icon-dark"></i>
				<i class="icon-google-plus icon-light"></i>
			</span>
			
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base icon-dark"></i>
				<i class="icon-skype icon-light"></i>
			</span>
			
			<span class="icon-stack">
				<i class="icon-circle icon-stack-base icon-dark"></i>
				<i class="icon-linkedin icon-light"></i>
			</span>
		</div>
		
	</div>
</body>
</html>