<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Home</title>
	
	<!-- Combine CSS before pushing to production -->
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css"> <!-- Regular stylesheet -->
	<link rel="stylesheet" type="text/css" href="../assets/css/color/blue.css" id="colorSheet"> <!-- Pick color scheme: black.css, blue.css, green.css, magenta.css, orange.css, pink.css, red.css, white.css, yellow.css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/colorbox.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
	<!--[if IE 7]>
	<link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
	<![endif]-->
	
	<!-- Combine JavaScript before pushing to production -->
	<script type="text/javascript" src="../assets/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.color-2.1.2.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.colorbox-min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../assets/js/script.js"></script>
</head>

<body>
	<div id="color-pallet">
		<div id="black"></div>
		<div id="blue"></div>
		<div id="green"></div>
		<br />
		<div id="magenta"></div>
		<div id="orange"></div>
		<div id="pink"></div>
		<br />
		<div id="red"></div>
		<div id="white"></div>
		<div id="yellow"></div>
	</div>
	<div id="color-switcher" class="icon-cogs icon-dark icon-2x"></div>

	<div class="title">
		<div class="heading">Lorem Ipsum</div>
		<div class="subheading">[Radix Omnium Malorum Est Cupiditas]</div>
		
		<div class="box">
			<ul class="menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="resume.html">Résumé</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="main">
		<h2>Home</h2>
		<p>Proin lobortis ornare massa id molestie. Nulla hendrerit mattis quam, quis condimentum nulla ultricies at. Aliquam vitae ipsum eget turpis rutrum posuere eu aliquam lacus. Morbi sed metus enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean porttitor pulvinar lorem, vitae dapibus nisi tristique vel. Nulla volutpat eleifend turpis, a scelerisque nunc pellentesque nec. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer et eros massa, eget pellentesque tortor.</p>
		
		<br /><br />
		
		<h2>My Latest Work</h2>
		<p>Aenean et ligula sit amet lacus condimentum sodales eu quis magna. Aliquam ultrices erat lorem, ut dapibus lectus. Vivamus ultricies euismod rutrum. Donec pellentesque massa ac magna accumsan quis scelerisque metus posuere. Mauris et dolor et libero tempus cursus vitae ut libero.</p>
		
		<br /><br />
		
		<section id="container">
			<ul id="stage">
				<li><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
			</ul>
		</section>
		
		<br />
		
		<p>Proin adipiscing diam non mi tincidunt rutrum. Etiam auctor in risus quis consectetur. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras et porta nulla. Quisque at lectus id dui fringilla feugiat. Etiam scelerisque sem sed enim sagittis, ac aliquet turpis tincidunt. In et nibh id arcu ultrices condimentum eu nec tortor.</p>
		
		<br /><br />
		
		<h2>On The Web</h2>
		<p>Nullam eget pharetra neque. In consequat dapibus augue vel lobortis. Nulla iaculis mi quis pharetra eleifend. Curabitur sed leo eros. Nunc in molestie arcu. Cras sit amet odio ornare, auctor eros non, pellentesque est. Mauris eu felis at dolor mollis convallis in id sem.</p>
		
		<br /><br />
		
		<div id="icons-center" class="icon-2x">
			<span class="icon-stack">
				<i class="icon-check-empty icon-stack-base icon-dark"></i>
				<i class="icon-facebook icon-dark"></i>
			</span>
			
			<span class="icon-stack">
				<i class="icon-check-empty icon-stack-base icon-dark"></i>
				<i class="icon-twitter icon-dark"></i>
			</span>
			
			<span class="icon-stack">
				<i class="icon-check-empty icon-stack-base icon-dark"></i>
				<i class="icon-google-plus icon-dark"></i>
			</span>
			
			<span class="icon-stack">
				<i class="icon-check-empty icon-stack-base icon-dark"></i>
				<i class="icon-skype icon-dark"></i>
			</span>
			
			<span class="icon-stack">
				<i class="icon-check-empty icon-stack-base icon-dark"></i>
				<i class="icon-linkedin icon-dark"></i>
			</span>
			
			<span class="icon-stack">
				<i class="icon-check-empty icon-stack-base icon-dark"></i>
				<i class="icon-dribbble icon-dark"></i>
			</span>
			
			<span class="icon-stack">
				<i class="icon-check-empty icon-stack-base icon-dark"></i>
				<i class="icon-tumblr icon-dark"></i>
			</span>
			
			<span class="icon-stack">
				<i class="icon-check-empty icon-stack-base icon-dark"></i>
				<i class="icon-stackexchange icon-dark"></i>
			</span>
		</div>
		
		<br /><br /><br /><br />
		
		<p>Suspendisse quis sagittis erat, et pulvinar nulla. Fusce feugiat, lacus eget pellentesque suscipit, tortor erat fringilla purus, sit amet consectetur felis nisl varius sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem orci, vulputate at erat vitae, hendrerit rhoncus elit. Morbi eget ipsum eu nulla posuere cursus. In a quam nec risus varius malesuada.</p>
		
	</div>
</body>
</html>