<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>My Portfolio</title>
	
	<!-- Combine CSS before pushing to production -->
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css"> <!-- Regular stylesheet -->
	<link rel="stylesheet" type="text/css" href="../assets/css/color/blue.css" id="colorSheet"> <!-- Pick color scheme: black.css, blue.css, green.css, magenta.css, orange.css, pink.css, red.css, white.css, yellow.css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/colorbox.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.min.css">
	<!--[if IE 7]>
	<link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css">
	<![endif]-->
	
	<!-- Combine JavaScript before pushing to production -->
	<script type="text/javascript" src="../assets/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.color-2.1.2.min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.colorbox-min.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.quicksand.js"></script>
	<script type="text/javascript" src="../assets/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="../assets/js/script.js"></script>
</head>

<body>
	<div id="color-pallet">
		<div id="black"></div>
		<div id="blue"></div>
		<div id="green"></div>
		<br />
		<div id="magenta"></div>
		<div id="orange"></div>
		<div id="pink"></div>
		<br />
		<div id="red"></div>
		<div id="white"></div>
		<div id="yellow"></div>
	</div>
	<div id="color-switcher" class="icon-cogs icon-dark icon-2x"></div>

	<div class="title">
		<div class="heading">Lorem Ipsum</div>
		<div class="subheading">[Radix Omnium Malorum Est Cupiditas]</div>
		
		<div class="box">
			<ul class="menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="portfolio.html">Portfolio</a></li>
				<li><a href="resume.html">Résumé</a></li>
				<li><a href="contact.html">Contact</a></li>
			</ul>
		</div>
	</div>

	<div class="main">
		<h2>Portfolio</h2>
		<p>Curabitur elit sapien, dapibus at vehicula sit amet, dignissim imperdiet justo. Pellentesque id mi quis nibh facilisis ullamcorper ut suscipit arcu. Pellentesque ac dolor nisl, in tincidunt est. Nam fermentum arcu quis ligula consequat rutrum. Vivamus tristique faucibus fermentum.</p>
		
		<br /><br />
		
		<nav id="filter"></nav>
		
		<section id="container">
			<ul id="stage">
				<li data-tags="Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Logo Design,Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design,Logo Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design,Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Logo Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design,Logo Design,Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Logo Design,Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design,Logo Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Logo Design,Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Logo Design,Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design,Logo Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Logo Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design,Logo Design,Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design,Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Logo Design,Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design,Logo Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Logo Design,Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Logo Design,Print Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
				<li data-tags="Web Design"><a href="sampleproject.html"><i class="icon-camera icon-5x icon-dark"></i></a></li>
			</ul>
		</section>
	</div>
</body>
</html>